@model Task2_2.User
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>ListUsers</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
    }
</body>
</html>
